.__projects-mobile {
  display: flex;
}
.__projects-not-mobile {
  display: none;
}

.__projects-not-mobile:has(a:hover) .__projects-img-section {
  scale: 0.8;
}

.__projects-not-mobile:has(a:hover) img {
  filter: blur(3px) opacity(0.6) grayscale(0.4);
}

@media (min-width: 1024px) {
  .__projects-mobile {
    display: none;
  }
  .__projects-not-mobile {
    display: flex;
  }
}
