@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.__name-span {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1em;
}

.__stroke-only {
  color: transparent;
  -webkit-text-stroke: var(--text-color);
  -webkit-text-stroke-width: 1px;
  font-weight: 600;
}

.__name-bg {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  color: var(--bg-color);
  /* opacity: 0; */
  transition: 300ms ease-in-out;
  letter-spacing: 0.02em;
  @apply lg:text-[40em] md:text-[30em] sm:text-[25em] text-[15em];
}
