.tech-stack-info-card.active {
  color: var(--bg-color);
  background-color: var(--text-color);
}

.tech-stack-info-card.active .accordion-expand-indicator,
.tech-stack-info-card:hover .accordion-expand-indicator {
  fill: var(--bg-color);
}

.accordion-expand-indicator {
  fill: var(--text-color);
}

.__tech-stack-list {
  @apply grid sm:grid-cols-2 grid-cols-1 gap-y-4 gap-x-2;
}

.__tech-stack-list > li::before {
  content: "👉🏻";
  margin-right: 0.2em;
}
