nav.__header-inverted svg#logo {
  fill: #e7e5e4;
}

nav.__header-inverted {
  color: #e7e5e4;
  --text-color: #e7e5e4;
}

nav {
  z-index: 9;
  backdrop-filter: blur(8px);
}

svg#logo {
  fill: var(--text-color);
  transition: 300ms ease-in-out;
}

.__nav-underline-element {
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.__nav-underline-element::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  transform: translateY(15%) scaleX(0);
  width: 100%;
  background-color: var(--text-color);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.__nav-underline-element:hover::after {
  transform-origin: left;
  transform: translateY(15%) scaleX(1);
}

#navigation-menu {
  color: var(--text-color);
  background-color: var(--nav-menu-bg);
  height: 0;
  transition: 300ms ease;
  backdrop-filter: blur(10px);
}

.__nav-menu-element-list > a {
  transform: translateX(100%);
}

#navigation-menu.__show a {
  animation: right-left 300ms ease 300ms forwards;
}

.__nav-menu-element-list > a:hover,
.__nav-menu-element-list > a:active {
  opacity: 1;
}

@keyframes right-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
