input,
textarea {
  background-color: transparent;
  border: 2px solid rgb(82 82 82);
  outline: 0;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: border;
}

input:hover,
textarea:hover {
  @apply border-neutral-400;
}

input:focus,
textarea:focus {
  @apply border-neutral-200;
}

.input-label {
  position: relative;
}

.input-label::before {
  content: attr(data-label);
  position: absolute;
  top: 0px;
  transform: translateY(40%);
  left: 1px;
  padding-inline: 0.5em;
  @apply text-neutral-500 duration-200;
  pointer-events: none;
}

.input-label::after {
  content: attr(data-message);
  position: absolute;
  bottom: -2px;
  right: 15px;
  font-size: 0.8em;
  background-color: rgb(12 10 9);
  padding-inline: 0.5em;
  @apply text-neutral-400 duration-200;
  pointer-events: none;
}

.input-label:focus-within::after {
  @apply text-neutral-50;
}

.input-label:has(input:not(:placeholder-shown))::before,
.input-label:has(textarea:not(:placeholder-shown))::before {
  top: 0px;
  transform: translateY(-42%);
  left: 12px;
  font-size: 0.7em;
  background-color: rgb(12 10 9);
  @apply text-neutral-50;
}

.connector-circle {
  position: relative;
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #e7e5e4;
  opacity: 0.2;
  filter: blur(4px) brightness(100%);
}

@media (max-width: 768px) {
  .connector-circle {
    width: 12px;
  }
}

.circle-ripple {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e7e5e4;
}

.social-link {
  @apply h-7 overflow-hidden flex flex-col justify-start items-center p-4;
}

.social-link > span,
.social-link > a {
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-weight: 500;
  transform: translateY(-1rem);
}

.social-link > a {
  text-decoration: underline;
}

.social-link:hover > span,
.social-link:hover > a {
  transform: translateY(calc(-100% - 1rem));
}

@keyframes connector-expand {
  to {
    width: 100%;
  }
}

@keyframes connector-reset {
  to {
    width: 0px;
  }
}

@keyframes connector-circle-reveal {
  to {
    scale: 1.4;
    opacity: 1;
    filter: brightness(200%);
  }
}

@keyframes connector-circle-reveal-reset {
  to {
    scale: 1;
    opacity: 0.2;
    filter: blur(4px) brightness(100%);
  }
}

@keyframes connector-circle-ripple {
  to {
    scale: 600%;
    opacity: 0;
    border-width: 0px;
  }
}

@keyframes connector-circle-ripple-reset {
  to {
    scale: 1;
    opacity: 100%;
  }
}
