@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #e7e5e4;
  --text-color: #1c1917;
  --nav-menu-bg: #d4d4d4cc;
  --accent-color: #57534e;
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 60%;
  --blending: hard-light;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  transition: 00ms ease-in-out;
}

*.__dark-mode {
  --bg-color: #1c1917;
  --text-color: #e7e5e4;
  --nav-menu-bg: rgba(23 23 23 / 0.8);
}

* {
  cursor: none !important;
  user-select: none;
  scroll-padding-block: 5rem;
}

button {
  outline: 0;
}

button:focus-visible {
  outline: 1;
}

@media (max-width: 1024px) {
  * {
    cursor: default !important;
  }
}

::-webkit-scrollbar {
  @apply w-[11px] h-2 duration-300;
}
.hide-scroll::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply bg-neutral-300 hover:cursor-default;
}

::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-neutral-600 hover:cursor-default;
}
::-webkit-scrollbar-thumb:hover {
  @apply w-4 rounded-sm bg-neutral-800;
}

.__element-text {
  position: relative;
  padding-inline: 0.75rem;
}

.__element-text::after,
.__element-text::before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade-in 300ms linear 300ms forwards;
  transition: 300ms ease-in-out;
}

.__element-text::before {
  content: "";
  height: 1px;
  background-color: var(--text-color) !important;
  width: 100%;
  transform: translateY(-300%);
}

.__element-text::after {
  content: attr(data-element-text-info);
  font-size: 1rem;
  font-weight: 200;
  transform: translateY(-65%);
  margin-inline: 1em;
  padding-inline: 5px;
  background-color: var(--bg-color);
}

.__section-padding {
  @apply px-4 pt-2 pb-8 lg:px-16 md:px-8 md:pb-16 lg:pb-24 md:pt-4 lg:pt-6;
}

.__section-title {
  font-family: "Poppins", sans-serif;
  @apply inline-block py-3 mb-2 overflow-hidden text-4xl font-bold lg:text-8xl md:text-6xl sm:text-5xl lg:mb-8 md:mb-4;
}

.__section-desc {
  @apply lg:text-4xl lg:leading-[4rem] font-[500] md:text-2xl md:leading-[3rem] sm:text-xl text-base sm:leading-[2rem] leading-[1.7rem];
}

.expand-bg {
  border-color: var(--text-color);
  transition: color 300ms ease, border-radius 300ms ease;
  color: var(--text-color);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.expand-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--text-color);
  transform: translateY(100%);
  z-index: -1;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  rotate: 0deg;
  overflow: hidden;
}

.expand-bg:hover,
.expand-bg:focus {
  color: var(--bg-color);
}

.expand-bg:hover::after,
.expand-bg:focus::after {
  transform: translateY(0%);
  rotate: 180deg;
}

.inst-msg-send {
  border-color: #e7e5e4;
  transition: color 300ms ease, border-radius 300ms ease;
  color: #e7e5e4;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.inst-msg-send::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: #e7e5e4;
  transform: translateY(100%);
  z-index: -1;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  rotate: 0deg;
}

.inst-msg-send:hover,
.inst-msg-send:focus {
  color: #1c1917;
}

.inst-msg-send:hover::after,
.inst-msg-send:focus::after {
  transform: translateY(0%);
  rotate: 180deg;
}

.__accent-text {
  color: var(--accent-color) !important;
}

.__accent-bg {
  background-color: var(--accent-color) !important;
}

@media (min-width: 1024px) {
  .__hover-invert:hover {
    filter: invert(1);
    transition: 300ms ease;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .__element-text::after {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .__element-text::after {
    font-size: 0.1rem;
  }
}

@keyframes show-alert {
  from {
    transform: translateY(-300%);
  }
}
@keyframes hide-alert {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes loading-animation {
  to {
    rotate: 360deg;
  }
}
