@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fffbeb;
  --text-color: #171717;
  --accent-color: #ea580c;
  --nav-menu-bg: rgba(212 212 212 / 0.8);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  transition: 300ms ease-in-out;
}

body.__dark-mode {
  --bg-color: #171717;
  --text-color: #fffbeb;
  --nav-menu-bg: rgba(23 23 23 / 0.8);
}

* {
  cursor: none !important;
  user-select: none;
}

button {
  outline: 0;
}

button:focus-visible {
  outline: 1;
}

@media (max-width: 768px) {
  * {
    cursor: default !important;
  }
}

::-webkit-scrollbar {
  @apply w-2 h-2 duration-300;
}
.hide-scroll::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply bg-neutral-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 rounded-sm cursor-move;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500 rounded-sm cursor-move;
}

.__element-text {
  position: relative;
  padding-inline: 0.75rem;
}

.__element-text::after,
.__element-text::before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade-in 300ms linear 300ms forwards;
  transition: 300ms ease-in-out;
}

.__element-text::before {
  content: "";
  height: 1px;
  background-color: var(--text-color) !important;
  width: 100%;
  transform: translateY(-300%);
}

.__element-text::after {
  content: attr(data-element-text-info);
  font-size: 1rem;
  font-weight: 200;
  transform: translateY(-65%);
  margin-inline: 1em;
  padding-inline: 5px;
  background-color: var(--bg-color);
}

.__section-padding {
  @apply lg:p-16 md:p-12 p-2;
}

.__section-title {
  @apply lg:text-8xl md:text-7xl text-6xl font-bold mb-8 overflow-hidden inline-block;
}

.__section-desc {
  @apply lg:text-4xl lg:leading-[4rem] text-3xl leading-[3rem];
  /* font-size: clamp(1rem, 2rem, 3.5rem);
  line-height: clamp(3.5rem, 2rem, 4.5rem); */
}

.expand-bg {
  border-color: var(--text-color);
  transition: color 300ms ease, border-radius 300ms ease;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}

.expand-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--text-color);
  transform: translateY(100%);
  z-index: -1;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  rotate: 0deg;
}

.expand-bg:hover {
  color: var(--bg-color);
}

.expand-bg:hover::after {
  transform: translateY(0%);
  rotate: 180deg;
}

@media (min-width: 1024px) {
  .__hover-invert:hover {
    filter: invert(1);
    transition: 300ms ease;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .__element-text::after {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .__element-text::after {
    font-size: 0.1rem;
  }
}
