.__custom-cursor {
  scale: 1;
  position: fixed;
  z-index: 11;
  pointer-events: none;
  border-radius: 50%;
  background-color: var(--text-color);
  transition:
    transform 300ms,
    scale 300ms;
  top: 200vh;
  border-color: var(--bg-color);
  /* transition: width 300ms; */
}

.__custom-cursor.animate-pulse-fast {
  backdrop-filter: blur(15px) !important;
  background-color: var(--text-color) !important;
  scale: 1 !important;
  z-index: 11 !important;
  mix-blend-mode: unset !important;
}

@media (max-width: 1024px) {
  .__custom-cursor {
    display: none;
  }
}
